* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 17px;
}

#showcase {
    background-image: url(https://images.pexels.com/photos/193004/pexels-photo-193004.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

#showcase {
    font-size: 50px;
}

#showcase {
    font-size: 20px;
}

#showcase .button {
    font-size: 18px;
    text-decoration: none;
    color: black;
    border: black 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
    transition: 0.5s;
}

#showcase .button:hover {
    background: black;
    color: white;
    transition: 0.5s;
}